<?xml version="1.0" encoding="UTF-8"?>

<Server version="8">
    <Type>origin</Type>
    <IP>*</IP>

    <Modules>
        <LLHLS>
            <Enable>true</Enable>
        </LLHLS>
    </Modules>

<Bind>
    <Providers>
        <MPEGTS>
            <Port>4000,4001/udp</Port>
        </MPEGTS>
    </Providers>

    <Publishers>
        <LLHLS>
            <Port>8000</Port>
            <WorkerCount>1</WorkerCount>
        </LLHLS>
    </Publishers>
</Bind>
    <VirtualHosts>
        <VirtualHost>
            <Name>default</Name>
            <Host>
                <Names>
                    <Name>*</Name>
                </Names>
            </Host>
            
            <Applications>
                <Application>
                    <Name>stream</Name>
                    <Type>live</Type>
                    <OutputProfiles>
                        <OutputProfile>
                            <Name>default</Name>
                            <OutputStreamName>${OriginStreamName}</OutputStreamName>
                            <Playlist>
                                <Name>default</Name>
                                <FileName>llhls.m3u8</FileName>
                                <Rendition>
                                    <Name>default</Name>
                                    <Video>bypass_video</Video>
                                    <Audio>bypass_audio</Audio>
                                </Rendition>
                            </Playlist>
                            <Encodes>
                                <Video>
                                    <Name>bypass_video</Name>
                                    <Bypass>true</Bypass>
                                </Video>
                                <Audio>
                                    <Name>bypass_audio</Name>
                                    <Bypass>true</Bypass>
                                </Audio>
                            </Encodes>
                        </OutputProfile>
                    </OutputProfiles>
                    <Providers>
                        <MPEGTS>
                            <StreamMap>
                                <Stream>
                                    <Name>public-ll</Name>
                                    <Port>4000</Port>
                                </Stream>
                                <Stream>
                                    <Name>private-ll</Name>
                                    <Port>4001</Port>
                                </Stream>
                            </StreamMap>
                        </MPEGTS>
                    </Providers>
                    <Publishers>
                        <LLHLS>
                            <OriginMode>true</OriginMode>
                            <ChunkDuration>0.5</ChunkDuration>
                            <SegmentDuration>3</SegmentDuration>
                            <SegmentCount>3</SegmentCount>
                            <CrossDomains>
                                <Url>*</Url>
                            </CrossDomains>
                        </LLHLS>
                    </Publishers>
                </Application>
            </Applications>
        </VirtualHost>
    </VirtualHosts>
</Server>
